@CHARSET "UTF-8";

body {

	background-color: green;
	color: black;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 1em 0;
}

div#menu a {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

div#menu {
	background-color: #000;
	color: white;
	padding: 5px;
	text-indent: 5px;

}

div#header {
	text-align: center;
	padding: 3em;
	text-indent: 5px;
	background: url("../resources/images/header_logo.png") no-repeat;
}

div#content {
	text-align: left;
	margin: 10px;
	border-width: bold;
	border-color: black;
	border-style: solid;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	padding: 20px;
	background-color: lightyellow;
	
}

div#articlePrev { 

	padding: 10px;
	margin: 10px;

}

div#articlePrev a,h2{
	color: green;
	text-decoration: none;
}

div#page {
	text-align: left;
	margin: 0 auto;
	width: 100%;
	max-width: 900px;
	padding: 0;
	border-width: thin;
	border-style: solid;
	border-color: black;
	background-color: #87F25D;
}

div#footer {
	border-top: solid black;
	border-width: thin;
	text-align: left;
	text-indent: 5px;
}

.picture {
	width: 100px;
	height: 100px;
}

.errMessage {
	color: red;
}