@CHARSET "UTF-8";

div#header{
	text-align : center;
	padding: 5.7em;
	background-color: #EBFFC5;
	
}

div#page{
	div#Seite{
	text-align: left;    
    margin: 0 auto;      
    width: 950px;
    padding: 0;
    border-width: thin;
	border-style: solid;
	border-color: black;
	background-color: #ccc;
   
}
}

}